/* navbar */

.first-navbar{
  height: 45px;
}

.me-auto{
  text-align: center;
  padding-bottom: 25px;
  font-size: 15px;
  font-style: italic;
  font-weight: 500;
}

.navbar {
  background-color: #fff;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  position: sticky;
  top: 0;
  z-index: 20;
}

.nav-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 70px;
  max-width: 1500px;
}

.main-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.3);
}

.nav-logo{
    color: #fc1f1f;
  align-items: center;
  margin-left: 20px;
  cursor: pointer;
  width: 100px;
  font-size: 2rem;
  flex-grow: 1;
}

.nav-menu {
  display: flex;
  list-style: none;
  text-align: center;
  margin-right: 2rem;
}

.nav-links {
  color: #1f5156;
  text-decoration: none;
  padding: 0.5rem 1rem;
  height: 100%;
  border-bottom: 3px solid transparent;
}

.fa-code {
  margin-left: 1rem;
}

.nav-item {
  line-height: 40px;
  margin-right: 1rem;
}

.nav-item:after {
  content: "";
  display: block;
  height: 3px;
  width: 0;
  background: transparent;
  transition: width 0.7s ease, background-color 0.5s ease;
}


.nav-item:hover:after {
  width: 100%;
  background: #fc1f1f;
}

.nav-item.active {
  color: #ffdd40;
  border: 1px solid #fc1f1f;
}

.nav-icon {
  display: none;
}

@media screen and (max-width: 960px) {

  .nav-menu {
    display: flex;
    flex-direction: column;
    width: 100%;
    border-top: 1pxsolid #fff;
    position: absolute;
    top: 80px;
    left: -110%;
    opacity: 1;
    transition: all 0.5s ease;
  }

  .nav-menu.active {
    background: #fc1f1f;
    left: 0px;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 1;
  }

  .nav-item .active {
      color: #fc1f1f;
    border: none;
  }

  .nav-links {
    padding: 1.5rem;
    width: 100%;
    display: table;
  }

  .nav-icon {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(-100%, 60%);
    font-size: 1.8rem;
    cursor: pointer;
    color: #fc1f1f;

  }
}

/*  our goals */

.goals-play{
  display: flex;
  justify-content: space-around;
  text-align: center;
  /* padding: 40px; */

}


.goals-display{
  padding: 20px;
  

}
.goals-container{
  background: #c0d2d4;
  margin: 0 10px 20px 0;
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.05),
  0 5px 20px rgba(0, 0, 0, 0.1);
  text-align: center;
  /* border: 1px solid red; */
  max-width: 300px;
  height: 350px;
  border-radius: 20px;

  
}

.goal-title {
  font-size: 30px;
  text-align: center;
  padding-top: 30px;
}

.goal-description {
  font-weight: 100;
  font-size: 1.5rem;
  text-align: center;
  padding: 10px;

}

.duration-text{
  margin-top: 20px;
  text-align: center;
}

.duration-text button{
  background: rgb(241, 123, 123);
  padding: 10px 80px;
  border: none;
  border-radius:  10px;
}

/* Testimonial */

.testimonial-container{
  margin: 20px;
  padding: 20px;
  display: grid;
  grid-template-columns: auto auto auto;
}

.testimonial {
  background-color: #fff;
  border-radius: 20px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  overflow: hidden;
  max-width: 100%;
  width: 400px;
  margin: 20px;
}

.testimonial-body {
  padding: 40px 40px 80px;
}

.testimonial-body p {
  color: #555;
  font-size: 20px;
  line-height: 36px;
  margin: 0;
}

.testimonial-body .fa-quote-right {
  color: #eee;
  font-size: 40px;
  float: right;
}

.testimonial-footer {
  background-color: #686de0;
  color: #fff;
  padding: 40px;
  text-align: center;
}

.testimonial-footer img {
  border-radius: 50%;
  border: 5px solid #fff;
  height: 120px;
  width: 120px;
  margin-top: -100px;
}

.testimonial-footer h3 {
  margin: 10px 0;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.testimonial-footer h4 {
  color: #b3b5ef;
  margin: 0;
  letter-spacing: 1px;
}


/* application form */

.application-container{
  background-image: linear-gradient(to bottom, rgba(252, 252, 255, 0.52), rgba(255, 254, 255, 0.73)),
  url('./assets/logo.png');
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 81vh;
  display: flex;
  text-align: center;
  place-items: center;
  overflow: hidden;
  font-family: poppins;
}

.application-form{
  border-radius: 20px;
  width: 500px;
  padding: 40px;
  box-sizing: border-box;
  background: #ecf0f3;
  box-shadow: 14px 14px 20px #cbced1,
  -14px -14px 20px white;
}

.application-container form input,
select,
option,
optgroup {
    background: #ecf0f3;
    padding: 10px;
    height: 30px;
    /* width: 500px; */
    font-size: 14px;
    border-radius: 50px;
    box-shadow: inset 6px 6px 6px #cbced1,
    inset -6px -6px 6px white;
}


label,
input,
select,
option,
optgroup,
.application-button {
  display: block;
  width: 100%;
  padding: 0;
  border: none;
  outline: none;
  box-sizing: border-box;
}

.application-button{
   box-shadow: 14px 14px 20px #cbced1,
   -14px -14px 20px white;
  border-radius: 50px;
   width: 150px;
}

.application-button:hover{
  background-color: #7373f5;
  /* padding: 5px; */
  color: #fff;
    /* border-radius: 50px;
  box-shadow: 14px 14px 20px #cbced1,
   -14px -14px 20px white; */

   border-radius: 5px;
   box-shadow: 0 0 5px #03e9f4,
   0 0 25px #03e9f4,
   0 0 50px #03e9f4,
   0 0 100px #03e9f4;
}


.whatwedo-container{
  margin: 0 10px;
    border-radius: 20px;
    padding: 10px 5px;
    background: #ecf0f3;
    display: flex;
    justify-content: space-between;
}

.whatwedo-bg{
      border-radius: 20px;
      width: 400px;
      padding: 40px;
      background: #fff;
}

.whatwedo h1{
  font-size: 30px;
  text-align: center;
  
}

.whatwedo p{
  font-size: 15px;
}