@media screen and (max-width: 460px) {

  * {
    margin: 0;
    padding: 0;
    font-family: 'Kiwi Maru', serif;
  }


  /* navbar */

  .first-navbar {
    display: none !important;
  }

  .first-navbar a {
    font-size: 10px !important;
  }

  .me-auto {
    text-align: center;
    padding-bottom: 35px;
    font-style: italic;
    font-weight: 700;
  }



  /* second navbar */

  .nav-logo {
    align-items: center;
    margin-left: 10px;
    cursor: pointer;
    width: 60px;
    flex-grow: 1;
    padding-bottom: 10px;
  }

  .fa-times,
  .fa-bars {
    margin-top: -35px;

  }

  .nav-menu {
    display: flex;
    list-style: none;
    text-align: center;
    margin-right: 2rem;
  }

  .nav-links {
    color: #1f5156;
    text-decoration: none;
    padding: 0.5rem 1rem;
    height: 100%;
    border-bottom: 3px solid transparent;
  }

  .fa-code {
    margin-left: 1rem;
  }

  .nav-item {
    line-height: 2px;
    margin-right: 1rem;
  }

  .nav-item:after {
    content: "";
    display: block;
    height: 3px;
    width: 0;
    background: transparent;
    transition: width 0.7s ease, background-color 0.5s ease;
  }


  .nav-item:hover:after {
    width: 100%;
    background: #fc1f1f;
  }

  .nav-item.active {
    color: #ffdd40;
    border: 1px solid #fc1f1f;
  }

  .nav-icon {
    display: none;
  }


  /*  OUR GOALS AT LASOP */

  .goalheader h2 {
    padding-top: 20px;
  }

  .goalheader p {
    text-align: center;
    font-size: 18px;
  }

  .goals-play {
    display: block !important;

  }

  .goals-play:hover {
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.2);
  }



  .goals-display {
    padding: 20px;
  }

  .goals-container {

    background: #fff3f3;
    margin: 0 10px 20px 0;
    text-align: center;
    /* border: 1px solid red; */
    width: 100%;
    /* height: 350px; */
    border-radius: 20px;
  }

  .goals-container:hover {
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.2);
  }

  .goal-title {
    font-size: 30px;
    text-align: center;
    padding-top: 30px;
  }

  .goal-description {
    font-weight: 100;
    font-size: 20px;
    text-align: center;
    padding: 14px auto;

  }




  /* OUR COURSES AT LASOP */

  .courses-container {
    padding: 50px 10px 30px 10px;
  }

  .ourcourse-card {
    display: grid;
    grid-template-columns: auto auto auto;
  }

  .course-container-card h1 {
    text-align: center;

  }

  .course-card {
    width: 380px;
    background: #c0d2d4;
    border: 1px solid black;
    padding-bottom: 20px;
    margin: 20px;

  }

  .course-card img {
    width: 300px;
    height: 320px;
  }

  .course-card img:hover {
    width: 380px
  }

  .course-card h2 {
    font-size: 20px;
    padding: 10px 5px 5px 5px;
    text-align: center;
  }

  .course-card p,
  .course-card a {
    font-size: 15px;
    padding: 5px;
    text-align: center;
  }


  /* FIGURE */

  .duration-text {
    margin: 0;
    padding: 0;
    text-align: unset;
  }

  .duration-text h3 {
    margin-bottom: 20px;
    text-align: center;
  }

  figure img {
    width: 250px !important;
    margin-top: 15px;
    float: right;
  }

  figcaption {
    margin-top: 0;
    text-align: justify;
    font-size: 12px;
    padding: 15px;

  }

  figcaption::first-letter {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 30px;
  }

  .duration-text button {
    margin-top: 20px;
    clear: left;
    background: rgb(241, 123, 123);
    padding: 10px 80px;
    border: none;
    border-radius: 10px;
  }





  /* APPLICATION FORM */

  .application-container {
    background-image: linear-gradient(to bottom, rgba(252, 252, 255, 0.52), rgba(255, 254, 255, 0.73)),
      url('./assets/logo.png');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    min-height: 81vh;
    display: flex;
    text-align: center;
    place-items: center;
    overflow: hidden;
    font-family: poppins;
  }

  .application-form {
    border-radius: 20px;
    width: 500px;
    padding: 40px;
    box-sizing: border-box;
    background: #ecf0f3;
    box-shadow: 14px 14px 20px #cbced1,
      -14px -14px 20px white;
  }

  .application-container form input,
  select,
  option,
  optgroup {
    background: #ecf0f3;
    padding: 10px;
    height: 30px;
    /* width: 500px; */
    font-size: 14px;
    border-radius: 50px;
    box-shadow: inset 6px 6px 6px #cbced1,
      inset -6px -6px 6px white;
  }

  .application-container span {
    font-size: 12px;
    color: red;
    font-style: italic;
    display: none;
  }

  input:invalid[focus="true"]~span {
    display: block;
  }


  label,
  input,
  select,
  option,
  optgroup,
  .application-button {
    display: block;
    width: 100%;
    padding: 0;
    border: none;
    outline: none;
    box-sizing: border-box;
  }

  .application-button {
    box-shadow: 14px 14px 20px #cbced1,
      -14px -14px 20px white;
    border-radius: 50px;
    width: 150px;
  }

  .application-button:hover {
    background-color: #7373f5;
    /* padding: 5px; */
    color: #fff;
    /* border-radius: 50px;
  box-shadow: 14px 14px 20px #cbced1,
   -14px -14px 20px white; */

    border-radius: 5px;
    box-shadow: 0 0 5px #03e9f4,
      0 0 25px #03e9f4,
      0 0 50px #03e9f4,
      0 0 100px #03e9f4;
  }

  .sub255,
  .sub2 {
    display: none;
  }

  :checked~.sub1,
  :checked~.sub255,
  :checked~.sub2 {
    display: flex;
    justify-content: space-evenly;
    /* margin-left: 40px; */
  }

  .sub1 {
    display: flex;
    justify-content: space-evenly;
  }



  /* payment */

  .page-off {
    display: none;
  }

  .card-page-off {
    display: none;
  }

  .Payment-page {
    display: flex;
    justify-content: space-around;
  }


  .radio-btn {
    display: inline;
  }


  .col-50 {
    -ms-flex: 50%;
    /* IE10 */
    flex: 50%;
    padding: 0 16px;
  }

  .fa {
    padding-left: 10px;
  }

  .fa-cc-visa {
    color: navy;
  }

  .fa-cc-amex {
    color: blue;
  }

  .fa-cc-mastercard {
    color: red;
  }

  .fa-cc-discover {
    color: orange;
  }

  .container {
    background-color: #f2f2f2;
    padding: 5px 20px 15px 20px;
    border: 1px solid lightgrey;
    border-radius: 3px;
  }

  input[type=text] {
    width: 100%;
    margin-bottom: 10px;
    padding: 2px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }

  label {
    margin-bottom: 10px;
    display: block;
  }

  .icon-container {
    margin-bottom: 20px;
    padding: 7px 0;
    font-size: 24px;
  }

  .btn {
    background-color: #04AA6D;
    color: white;
    padding: 12px;
    margin: 10px 0;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    font-size: 17px;
  }

  .btn:hover {
    background-color: #45a049;
  }






  /* WHAT WE DO */
  .whatwedo-container {
    margin: 0 10px;
    border-radius: 20px;
    padding: 10px 5px;
    background: #ecf0f3;
    display: flex;
    justify-content: space-between;
  }

  .whatwedo-bg {
    display: flex;
    justify-content: space-between;
    padding: 40px;
    background: #fff;
  }

  .whatwedo {
    border-radius: 20px;
    padding: 40px;
    box-shadow: 7px 7px 7px 7px rgba(0, 0, 0, 0.2);


  }

  .whatwedo h1 {
    font-size: 30px;
    text-align: center;

  }

  .whatwedo p {
    font-size: 15px;
  }


  /* NEWS LETTER SUBSCRIPTION */


  .subscribe {
    background: linear-gradient(rgba(163, 181, 252, 0.7), rgba(129, 129, 131, 0.7)),
      url(./assets/3.jpg);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    text-align: center;
  }

  .subscribe input {
    width: 100%;
    margin-bottom: 10px;
    padding: 2px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }

  .subscribe button {
    border: none;
    padding: 5px 35px;

  }

  .subscribe button:hover {
    background: #03e9f4;
    color: #000;
    border-radius: 20px;
  }


  /* FOOTER */

  footer {
    background: #000;
    opacity: 90%;

  }

  .footer {
    display: block !important;
    justify-content: space-between;
    padding: 60px 60px 0 60px;
  }

  .footerservice a,
  .footerlinks a {
    font-size: 13px;
    padding-left: 0;
    color: #fff;
  }

  .footerservice .fa-greater-than,
  .footerlinks .fa-greater-than {
    padding: 0 10px;
    color: grey;
  }

  .footer-copyright {
    padding: 0 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;

  }

  .footer-copyright h6 {
    display: inline;
  }

  .fa-twitter {
    color: #3838fc;
    padding-left: 20px;
  }

  .fa-facebook {
    color: #2a2af8;
    padding-left: 20px;
  }

  .fa-linkedin {
    color: #7373f5;
    padding-left: 20px;
  }

  .fa-instagram {
    color: #f19c1c;
    padding-left: 20px;
  }



  .trye img {
    width: 300px;
  }


  /* CONTACT US PAGE */

  .contactus-text {
    text-align: center;
  }

  .contactus-container {
    margin: 0 20px;
  }

  .contactus-card-container {
    display: block;
    /* grid-template-columns: auto auto; */
    justify-content: space-between;
    margin: 0 30px;
  }

  .contactus-card {
    margin-top: 20px;
    padding: 10px 30px;
    width: 250px;
    box-shadow: 7px 7px 7px 7px rgba(0, 0, 0, 0.2);
  }

  .contactus-card img {
    width: 50px;
  }

  .contactus-map {
    margin-top: 30px;
    display: block;
    justify-content: space-between;

  }

  .mu-contact-right iframe {
    height: 300px;
    border: 2px;
    width: 100%;
    padding-bottom: 20px;
  }



  /* FAQ PAGE */


  .faq-body {
    display: block;
    justify-content: space-between;
  }

  .faq-body {
    margin: 50px 50px;
  }

  .faq-img img {
    width: 100%;
  }

  .faq-container h4 {
    text-align: center;
  }

  .ourcoursespage-container h4 {
    text-align: center;
    padding-top: 20px;
  }

  .ourcoursespage-btn {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .ourcoursespage-btn button a {
    color: #fff;
  }


  /* FRONTEND LINK PAGE */

  .frontend {
    padding: 10px 20px;
  }

  /* .frontend-header{
  display: block;
} */

  .frontend-header-img {
    margin: 0;
    padding: 0;
    display: block;
    justify-content: center;
    align-items: center;
  }

  .frontend-header a {
    font-size: 10px;
  }

  .header-img {
    display: block;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin-top: 10px;
  }

  .header-img img {
    width: 100%;
  }

  .frontend h4 {
    text-align: center;
  }

  .course-modules-container {
    margin: 10px;
  }

  .course-modules-container h4 {
    text-align: center;
    font-weight: 600;
  }

  .course-modules {
    display: block;
    grid-template-columns: repeat(2, 500px);
    justify-content: space-between;
  }

  .course-modules h5 {
    font-weight: 500;
    padding-top: 20px;
  }


  /* APPLY NOW BUTTON */

  .apply-btn {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .apply-btn button {
    border: none;
    background: #3838fc;
    padding: 5px 30px;
  }

  .apply-btn button a {
    text-decoration: none;
    color: #cbced1;
  }


  /* FULLSTACK LINK PAGE */

  .full-stack {
    padding: 20px 5px;
    margin: 0;
  }

  .full-stack-header h4 {
    font-size: 21px;
  }

  .full-stack-header h4,
  .full-stack-header p {
    text-align: center;
    margin: 0 10px;
  }

  .full-stack h4 {
    padding-bottom: 10px;
  }

  .full-stack-exptn {
    margin: 40px 0;
  }

  .exptn-grid {
    padding: 5px;
    margin: 5px 10px;
    display: block;
    justify-content: space-between;

  }

  .exptn-grid-card {
    margin: 20px;
    padding: 10px 0;
    box-shadow: 7px 7px 7px 7px rgba(0, 0, 0, 0.2);
    background: #f5e6d0;
  }

  .exptn-grid-card h6 a {
    text-decoration: none;
    color: #000;
    text-transform: uppercase;
    text-align: center;
    padding-top: 5px;
    padding-left: 15px;
  }


  /* ABOUT US PAGE */

  .about-us-header h3 {
    text-align: center;
  }

  .about-us {
    background-image: linear-gradient(to bottom, rgba(252, 252, 255, 0.52), rgba(255, 254, 255, 0.73)),
      url('./assets/logo.png');
    background-repeat: no-repeat;
    background-size: cover;
  }


}
